openapi: 3.2.0
info:
  title: REST Invitation API
  version: 1.1.0
  description: Primis API docs
servers:
- url: https://api.primis.cx
  description: Production server
- url: https://api.qa.primis.cx
  description: QA Server
tags:
- name: Invitation
paths:
  /invitations/{token}:
    get:
      tags:
      - Invitation
      summary: Get the user invitation
      parameters:
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: The token of the invitation
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  user:
                    $ref: '#/components/schemas/Invitation'
        '500':
          description: Server Error
      operationId: getInvitationsByToken
      x-operation-id-source: derived
  /invitations/resend:
    get:
      tags:
      - Invitation
      summary: Resend the user invitation email
      parameters:
      - in: query
        name: email
        schema:
          type: string
        required: true
        description: Email requiring a resend
      responses:
        '200':
          description: Ok
        '500':
          description: Server Error
      operationId: getInvitationsResend
      x-operation-id-source: derived
  /invitations/register/{token}:
    post:
      tags:
      - Invitation
      summary: Register the user (Used for invitations and email verifications)
      parameters:
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: Identifing token of the invite
      requestBody:
        content:
          application/json:
            schema:
              properties:
                password:
                  type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  access:
                    $ref: '#/components/schemas/UserFeatureAccess'
                  jwt:
                    type: string
        '500':
          description: Server Error
      operationId: postInvitationsRegisterByToken
      x-operation-id-source: derived
components:
  schemas:
    UserFeatureAccess:
      properties:
        subscription:
          type: array
          items:
            $ref: '#/components/schemas/FeaturePermissions'
        role:
          type: array
          items:
            $ref: '#/components/schemas/FeaturePermissions'
      title: UserFeatureAccess
      type: object
    User:
      properties:
        id:
          title: User.id
          type: string
        retailer:
          title: User.retailer
          type: string
        name:
          title: User.name
          type: string
        surname:
          title: User.surname
          type: string
        email:
          title: User.email
          type: string
        role:
          type: string
          enum:
          - retail-admin
          - developer
          - marketing
        blocked:
          title: User.blocked
          type: boolean
      required:
      - email
      additionalProperties: false
      title: User
      type: object
    FeaturePermissions:
      properties:
        feature:
          type: string
        actions:
          items:
            type: string
          title: FeaturePermissions.actions
          type: array
      required:
      - feature
      - actions
      additionalProperties: false
      title: FeaturePermissions
      type: object
    Invitation:
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          title: Invitation.token
          type: string
        redeemed:
          title: Invitation.redeemed
          type: boolean
        expiration:
          type: string
        verification:
          title: Invitation.verification
          type: boolean
      required:
      - user
      - token
      - redeemed
      - expiration
      additionalProperties: false
      title: Invitation
      type: object
  securitySchemes:
    bearerAuth:
      type: https
      scheme: bearer
      bearerFormat: JWT
